{% set page = namespace(path='/') %}
{% extends "base.html" %}

{% block content %}

<!-- <svg id="test_area" height=200 width=450></svg> -->
<div class="container">
    <div class="row" >
        <nav aria-label="Page navigation example">
            <ul id="duration_pagination" class="pagination justify-content-center">
                <li id="duration_year" class="page-item"><a class="page-link" href="#year">Year</a></li>
                <li id="duration_quarter" class="page-item"><a class="page-link" href="#quarter">3 Months</a></li>
                <li id="duration_month" class="page-item"><a class="page-link" href="#month">4 Weeks</a></li>
                <li id="duration_week" class="page-item"><a class="page-link" href="#week">Week</a></li>
                <li id="duration_day" class="page-item"><a class="page-link" href="#day">Day</a></li>
                <li id="duration_hour" class="page-item"><a class="page-link" href="#hour">3 Hours</a></li>
            </ul>
        </nav>
    </div>
    <div class="row" >
        <h5 id="graph_title" class="text-center"></h5>
    </div>
    <div class="row" >
        <div id="area"></div>
    </div>
</div>

{% endblock %}

{% block css %}

<style>
 .svg-container {
     display: inline-block;
 }
 .svg-content-responsive {
 }
</style>

{% endblock %}

{% block scripts %}

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
 <script src="{{ url_for('static', filename='weather.js') }}"></script>

{% endblock %}
